// font Size
// $fs-:4em;
$fs-lg:3em;
$fs-md:2em;
$fs-sm:1.3em;


$hero-img: url(../assets/hero_bg.svg) no-repeat;
$main-img: url(../assets/main_bg.svg) no-repeat;

@mixin hero-bg {
    background: $hero-img;
    background-size: cover;
}

@mixin main-bg{
    background: $main-img;
    background-size: contain;
}
