@import "config";

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6{
    margin:10px 0;
}

h1{
    font-size: $fs-lg;
    font-weight: 500;
}

h2{
    font-weight: 400;
    font-size: $fs-lg;
}

h3{
    font-weight: 400;
    font-size: $fs-md;
}

h4{
    font-weight: 500;
    font-size: $fs-sm;
}

p{
    color:#555;
    line-height: 23px;
}

body{
    width:100vw;
    height:10000px;
    margin:0;

    /* Header */
    header{
        @include hero-bg;
        color:#fff;
        height: 80vh;
        padding:0 20%;
    }

    nav{
        position: relative;

        >ul{
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            height: 130px;
            align-items: center;
            border-radius: 10px;
            box-shadow: 1px 1px 10px 10px #0001;
            padding: 0;
            margin: 0;
            width: 60%;
            position: absolute;
            left: 20%;
            top: -65px;
            background: #fff;
        }

        a{
            color: #333;
            font-size: 15px;
            text-decoration: none;
        }
    }
    
    main{
        margin-top:140px;
        padding:0 20%;
        position: relative;

        >.bgWrapper{
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;

            >img{
                transform: scale(1.25);
                margin-top: 550px;
            }
        }

        section{
            height: 60vh;

            .grayBox{
                height: 40%;

                img{
                    width:30%;
                }
            }

            .padded{
                padding:20px;

                p{
                    line-height: 30px;
                }
            }
        }
        
        img{
            width:100%;
            
            &.sec_1{
                position: absolute;
                left:-20%
            }
        }
    }    
}

.flexBox{
    display: flex;

    &.column{
        flex-direction: column;
    }

    &.jc-center{
        justify-content: center;
    }

    &.ai-center{
        align-items: center;
    }

    &.ai-fs{
        align-items: flex-start;
    }

    .half{
        width:50%;
        position: relative;
        margin: 30px;
    }
}

.text-center{
    text-align: center;
}

.shadowBox{
    box-shadow: 0px 5px 5px 2px #0001;
}

.grayBox{
    background-color: #eee;
}